<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="stylesheets/style.css">
<div class="row">
    <h1 class="text-center heading">New Blog</h1>
    <div class="col-6 offset-3">
        <form class="login" action="/blogs" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="blog[title]" required>
               
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="blog[location]" required>
               
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="blog[image]" required>
               
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="description">Content</label>
                <textarea class="form-control" type="text" id="description" name="blog[description]"
                    required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success btn-block">Add Blog</button>
            </div>
        </form>
        <a style="margin-bottom: 50px;" class="btn btn-primary btn-block"  href="/blogs">All Blogs</a>
    </div>
</div>