<nav style="background-color: #f5f5f5;" class="navbar sticky-top navbar-expand-lg navbar-light text-uppercase ">
    <div class="container-fluid">
        <a class="navbar-brand" id="brand" href="#">BlogMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navclr" class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                
                <% if(currentUser) {%>
                    <a class="nav-link" href="/blogs">All Blogs</a>      
                    <a class="nav-link" href="/blogs/new">New Blog</a>
                    <a class="nav-link" href="/myblogs">My blogs</a>
                    <a class="nav-link" href="/report">Get Statistics</a>
                <%}%>
               
            </div>
            <div  class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                
                <a class="nav-link" href="/logout">Logout</a>
                <form style="margin-top: 10px;" action="/search" method="POST">
                    <input type="text" name="search" placeholder="Search Author" required>
                    <button class="mybtn" type = "submit">Search</button>
                </form>
               
                <% } %>
                

            </div>
        </div>
    </div>
</nav>