<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="stylesheets/style.css">
<div style = "width: 80%; " class="container"></div>
    <form class="login" style= "width: 400px; " action="/login" method="POST">
        <h1>LOGIN</h1>
        
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <button class="btn mybtn btn-primary btn-block">Login</button>
    </form>
</div>
